<template>
  <div id="main-nav">
    <b-nav pills justified>
      <b-nav-item to="/cup" :active="page === 'cup'">
        <fa :icon="icons.faTrophy"></fa>
      </b-nav-item>
      <b-nav-item to="/picks">
        <fa :icon="icons.faHandPointer"></fa>
      </b-nav-item>
      <b-nav-item to="/race">
        <fa :icon="icons.faFlagCheckered"></fa>
      </b-nav-item>
    </b-nav>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

// TODO move these to be SSR with Vuex (We want them in the vendor bundle)
import faTrophy from '@fortawesome/fontawesome-free-solid/faTrophy'
import faHandPointer from '@fortawesome/fontawesome-free-solid/faHandPointer'
import faFlagCheckered from '@fortawesome/fontawesome-free-solid/faFlagCheckered'

import { mapState } from 'vuex'

export default {
  components: {
    fa: FontAwesomeIcon
  },
  data () {
    return {
      icons: {
        faTrophy,
        faHandPointer,
        faFlagCheckered
      },
    }
  },
  computed: mapState({
    page: state => state.nav.page
  })
}
</script>

<style lang="scss">
  #main-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: rgb(240, 240, 240);

    .nav-item .nav-link {
      color: #616A72;
      border-radius: 0;
      transition: color 0.3s, background-color 0.3s;
    }

    .nav-item .nav-link.active {
      color: rgb(240, 240, 240);
      background-color: #616A72;
    }

    .nav-item:nth-of-type(2) {
      border-right: 2px solid rgb(255, 255, 255);
      border-left: 2px solid rgb(255, 255, 255);
    }
  }
</style>
