<template>
  <div id="main-status">
    <div class="status-container">
      <div class="status-brand brand-text">
        <strong>RacePicks</strong>
        <nuxt-link to="/settings" class="settings-button">
          <fa :icon="icons.faCog"></fa>
        </nuxt-link>
      </div>
      <div class="status-user"
        :class="{
          'color-red': user.data.color === 'red',
          'color-orange': user.data.color === 'orange',
          'color-yellow': user.data.color === 'yellow',
          'color-olive': user.data.color === 'olive',
          'color-green': user.data.color === 'green',
          'color-teal': user.data.color === 'teal',
          'color-blue': user.data.color === 'blue',
          'color-violet': user.data.color === 'violet',
          'color-purple': user.data.color === 'purple',
          'color-pink': user.data.color === 'pink',
          'color-brown': user.data.color === 'brown',
          'color-grey': user.data.color === 'grey',
          'color-black': user.data.color === 'black'
        }">
        <div class="status-icon">
          <fa :icon="icons.faCar"></fa>
        </div>
        <div class="status-username brand-text">
          <small>{{user.data.username}}</small>
        </div>
        <div class="status-info">
          <b-badge variant="secondary">15th</b-badge>&nbsp;<b-badge variant="secondary">959 <fa :icon="icons.faTrophy"></fa></b-badge>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

// TODO move these to be SSR with Vuex (We want them in the vendor bundle)
import faCog from '@fortawesome/fontawesome-free-solid/faCog'
import faTrophy from '@fortawesome/fontawesome-free-solid/faTrophy'
import faCar from '@fortawesome/fontawesome-free-solid/faCar'

import { mapState } from 'vuex'

export default {
  components: {
    fa: FontAwesomeIcon
  },
  computed: mapState({
    user: state => state.user.user
  }),
  data () {
    return {
      icons: {
        faCog,
        faTrophy,
        faCar
      },
    }
  }
}
</script>

<style lang="scss">
  #main-status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgb(240, 240, 240);

    .status-user-icon {
      position: absolute;
      top: 25px;
      left: 10px;
      font-size: 2rem;
    }

    .status-container {
      text-align: center;

      .status-brand {
        position: relative;
        background-color: #565F67;
        color: #EEEEEE;

        .settings-button {
          position: absolute;
          top: 3px;
          left: 10px;
          opacity: 0.5;
          font-size: 0.8rem;
          color: #EEEEEE;
          cursor: pointer;
          transition: opacity 0.3s;

          &:hover {
            opacity: 1;
          }

          &.nuxt-link-active {
            opacity: 1;
          }
        }
      }

      .status-user {
        padding: 10px;
        background-color: #EEEEEE;

        .status-icon {
          font-size: 2rem;
          line-height: 1;
        }

        .status-username {
          margin-top: -0.2rem;
        }

        .status-info {
          font-size: 1.5rem;
        }
      }
    }
  }
</style>
