<template>
  <div v-cloak>
    <nuxt/>
  </div>
</template>

<script>
  // TODO move to layouts for landing and app

  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDhv03rB5K5KfzKftmRfF4u1dgrTTxjNEI",
    authDomain: "racepicks-2.firebaseapp.com",
    databaseURL: "https://racepicks-2.firebaseio.com",
    projectId: "racepicks-2",
    storageBucket: "racepicks-2.appspot.com",
    messagingSenderId: "364136419439"
  };
  firebase.initializeApp(config);
</script>

<style>
html, body {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}

.brand-text {
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.color-red {
  color: #B03060;
}
.color-orange {
  color: #FE9A76;
}
.color-yellow {
  color: #FFD700;
}
.color-olive {
  color: #32CD32;
}
.color-green {
  color: #016936;
}
.color-teal {
  color: #008080;
}
.color-blue {
  color: #0E6EB8;
}
.color-violet {
  color: #EE82EE;
}
.color-purple {
  color: #B413EC;
}
.color-pink {
  color: #FF1493;
}
.color-brown {
  color: #A52A2A;
}
.color-grey {
  color: #A0A0A0;
}
.color-black {
  color: #000000;
}

.bg-color-red {
  background-color: #B03060;
}
.bg-color-orange {
  background-color: #FE9A76;
}
.bg-color-yellow {
  background-color: #FFD700;
}
.bg-color-olive {
  background-color: #32CD32;
}
.bg-color-green {
  background-color: #016936;
}
.bg-color-teal {
  background-color: #008080;
}
.bg-color-blue {
  background-color: #0E6EB8;
}
.bg-color-violet {
  background-color: #EE82EE;
}
.bg-color-purple {
  background-color: #B413EC;
}
.bg-color-pink {
  background-color: #FF1493;
}
.bg-color-brown {
  background-color: #A52A2A;
}
.bg-color-grey {
  background-color: #A0A0A0;
}
.bg-color-black {
  background-color: #000000;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#app-content {
  margin-top: 140px;
  text-align: center;
}


/* html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
} */
</style>
