<template>
  <div>
    <div id="app" v-if="isAuthFinished && user">
      <main-nav></main-nav>
      <main-status></main-status>

      <div id="app-content">
        <b-container tag="section">
          Welcome to the cup page, {{user.data.username}}!
          <b-button @click="logout">
            Logout
          </b-button>
        </b-container>
      </div>
    </div>
  </div>
</template>

<script>
import MainNav from '~/components/MainNav'
import MainStatus from '~/components/MainStatus'

import FirebaseService from '~/assets/js/services/FirebaseService'
import { mapState } from 'vuex'

export default {
  components: {
    'main-nav': MainNav,
    'main-status': MainStatus
  },
  head () {
    return {
      title: 'Cup - RacePicks'
    }
  },
  beforeCreate () {
    this.$store.dispatch('nav/page_loaded', 'cup')
    this.firebaseService = new FirebaseService(this.$store)
  },
  computed: mapState({
    user: state => state.user.user,
    isAuthFinished: state => state.user.isAuthFinished
  }),
  methods: {
    logout () {
      this.firebaseService.logout()
    }
  }
}
</script>

<style lang="scss">
</style>
