<template>
  <div>
    <div class="landing-page" v-if="isAuthFinished && !user">
      <b-container tag="section" class="landing-container">
        <div>
          <div class="landing-center-content">
            <b-alert :show="message.show"
                    class="landing-message"
                    :variant="message.type">
              {{message.message}}
            </b-alert>
            <b-card no-body>
              <h4 class="brand-text" slot="header">RacePicks</h4>
              <b-tabs card nav-class="landing-tabs" @input="handleTabSwitch">
                <b-tab title="Log In" :disabled="form.waitingForResponse" active>

                  <b-form @submit.prevent="handleLogIn">
                    <b-form-group>
                      <b-input-group>
                        <b-input-group-addon>
                          <fa :icon="icons.faEnvelope"></fa>
                        </b-input-group-addon>
                        <b-form-input type="email"
                                      v-model="form.email"
                                      required
                                      placeholder="email">
                        </b-form-input>
                      </b-input-group>
                    </b-form-group>
                    <b-form-group>
                      <b-input-group>
                        <b-input-group-addon>
                          <fa :icon="icons.faKey"></fa>
                        </b-input-group-addon>
                        <b-form-input type="password"
                                      v-model="form.password"
                                      required
                                      placeholder="password">
                        </b-form-input>
                      </b-input-group>
                    </b-form-group>
                    <b-link @click.prevent="resetPasswordForm.show = true">
                      <p class="font-weight-light">
                        <small>Forgot password?</small>
                      </p>
                    </b-link>
                    <b-button variant="primary" type="submit" v-if="!form.waitingForResponse">
                      Log In
                    </b-button>
                    <b-button variant="primary" type="submit" disabled v-else>
                      <fa :icon="icons.faSpinner" pulse></fa>
                    </b-button>
                  </b-form>

                </b-tab>
                <b-tab title="Sign Up" :disabled="form.waitingForResponse">

                  <b-form @submit.prevent="handleSignUp">
                    <b-form-group>
                      <b-input-group>
                        <b-input-group-addon>
                          <fa :icon="icons.faUser"></fa>
                        </b-input-group-addon>
                        <b-form-input type="text"
                                      v-model="form.username"
                                      required
                                      placeholder="username">
                        </b-form-input>
                      </b-input-group>
                    </b-form-group>
                    <b-form-group>
                      <b-input-group>
                        <b-input-group-addon>
                          <fa :icon="icons.faEnvelope"></fa>
                        </b-input-group-addon>
                        <b-form-input type="email"
                                      v-model="form.email"
                                      required
                                      placeholder="email">
                        </b-form-input>
                      </b-input-group>
                    </b-form-group>
                    <b-form-group>
                      <b-input-group>
                        <b-input-group-addon>
                          <fa :icon="icons.faKey"></fa>
                        </b-input-group-addon>
                        <b-form-input type="password"
                                      v-model="form.password"
                                      required
                                      placeholder="password">
                        </b-form-input>
                      </b-input-group>
                    </b-form-group>
                    <b-button variant="primary" type="submit" v-if="!form.waitingForResponse">
                      Sign Up
                    </b-button>
                    <b-button variant="primary" type="submit" disabled v-else>
                      <fa :icon="icons.faSpinner" pulse></fa>
                    </b-button>
                  </b-form>

                </b-tab>
              </b-tabs>
            </b-card>
          </div>

        </div>
      </b-container>

      <b-modal v-model="resetPasswordForm.show" title="Reset Your Password" hide-footer>
        <b-form @submit.prevent="handleResetPassword">
          <b-form-group>
            <b-input-group>
              <b-form-input type="email"
                            v-model="resetPasswordForm.email"
                            required
                            placeholder="email">
              </b-form-input>
              <b-input-group-button slot="right">
                <b-button variant="primary"
                          type="submit"
                          v-if="!resetPasswordForm.waitingForResponse">
                  <fa :icon="icons.faPaperPlane"></fa>
                </b-button>
                <b-button variant="primary" type="submit" disabled v-else>
                  <fa :icon="icons.faSpinner" pulse></fa>
                </b-button>
              </b-input-group-button>
            </b-input-group>
          </b-form-group>
        </b-form>
      </b-modal>

      <div class="landing-photo-credit">
        <p>
          <small>
            <a href="https://500px.com/photo/3956621/banked-daytona-international-speedway-by-adam-sheikh" target="_blank">Banked Daytona International Speedway</a><br>
            by
            <a href="https://500px.com/absphoto" target="_blank">Adam Sheikh</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

// TODO move these to be SSR with Vuex (We want them in the vendor bundle)
import faUser from '@fortawesome/fontawesome-free-solid/faUser'
import faEnvelope from '@fortawesome/fontawesome-free-solid/faEnvelope'
import faKey from '@fortawesome/fontawesome-free-solid/faKey'
import faPaperPlane from '@fortawesome/fontawesome-free-solid/faPaperPlane'
import faSpinner from '@fortawesome/fontawesome-free-solid/faSpinner'

import FirebaseService from '~/assets/js/services/FirebaseService.js'
import { mapState } from 'vuex'

export default {
  components: {
    fa: FontAwesomeIcon
  },
  head () {
    return {
      title: 'Login - RacePicks'
    }
  },
  beforeCreate () {
    this.firebaseService = new FirebaseService(this.$store)
  },
  data () {
    return {
      icons: {
        faUser,
        faEnvelope,
        faKey,
        faPaperPlane,
        faSpinner
      },
      form: {
        email: '',
        password: '',
        username: '',
        waitingForResponse: false
      },
      resetPasswordForm: {
        show: false,
        email: '',
        waitingForResponse: false
      },
      message: {
        show: false,
        type: 'danger',
        message: ''
      }
    }
  },
  computed: mapState({
    user: state => state.user.user,
    isAuthFinished: state => state.user.isAuthFinished
  }),
  methods: {
    handleSignUp () {
      this.signUp()
    },

    handleLogIn () {
      this.logIn()
    },

    handleResetPassword () {
      this.resetPassword()
    },

    handleTabSwitch () {
      this.clearForm()
    },

    clearForm () {
      this.message.show = false
      this.form.email = ''
      this.form.password = ''
      this.form.username = ''
    },

    signUp () {
      this.message.show = false
      this.form.waitingForResponse = true

      // create the user
      this.firebaseService.createUser(
        this.form.username,
        this.form.email,
        this.form.password
      ).then(() => {
        // log in the user
        return this.logIn()
      }).catch((err) => {
        this.message.show = true
        this.message.type = 'danger'
        this.message.message = err.message

        this.form.waitingForResponse = false
      })
    },

    logIn () {
      this.message.show = false
      this.form.waitingForResponse = true
      this.firebaseService.login(
        this.form.email,
        this.form.password
      ).catch((err) => {
        this.message.show = true
        this.message.type = 'danger'
        this.message.message = err.message

        this.form.waitingForResponse = false
      })
    },

    resetPassword () {
      this.message.show = false
      this.resetPasswordForm.waitingForResponse = true
      this.firebaseService.resetPassword(
        this.resetPasswordForm.email
      ).then(() => {
        this.message.show = true
        this.message.type = 'success'
        this.message.message = 'Success! Check your email for password reset instructions.'

        this.resetPasswordForm.show = false
        this.resetPasswordForm.email = ''
        this.resetPasswordForm.waitingForResponse = false
      }).catch((err) => {
        this.message.show = true
        this.message.type = 'danger'
        this.message.message = err.message

        this.resetPasswordForm.show = false
        this.resetPasswordForm.waitingForResponse = false
      })
    }
  }
}
</script>

<style lang="scss">
.landing-page {
  position: relative;
  background-image: linear-gradient(to top,rgba(0,0,0,1), rgba(0,0,0,0)), url(/assets/img/landing.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  .landing-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0 100px 0;
  }

  .landing-center-content {
    max-width: 300px;
  }

  .landing-message {
    font-size: 0.8rem;
  }

  .landing-tabs {
    display: flex;

    & > * {
      flex: 1 1;
    }
  }

  .landing-photo-credit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
    color: rgba(200, 200, 200, 1);
    font-size: 0.8rem;

    a {
      color: rgba(200, 200, 200, 1);
    }
  }
}
</style>
